extends layout
block content
  .row.my-header
    .col-lg-12
  .row(align='center')
   .login.col-md-6
    form.center.form-horizontal(action="", method="post", role="form", id="girisYap")
        -if(hata == 'bos')
          .alert.alert-danger(role="alert") Tüm alanlar zorunludur!
        -else if(hata == 'yetkisiz')
          .alert.alert-danger(role="alert") Kullanıcı adı ya da şifre hatalı!
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="eposta") E-Posta
          .col-xs-12.col-sm-10
            input#eposta.form-control(name="eposta",autofocus)
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="sifre") Şifre
          .col-xs-12.col-sm-10
            input#sifre.form-control(name="sifre")    
        .form-group        
          button.btn-login.btn-default.pull-right Giriş Yap
          a(href='/kayit').pull-right-href Kayıt Ol
          a(href='/sifremiyenile').pull-right-href Şifremi Unuttum
          
    .col-xs-12.col-md-4

    